//Cookies container
#ac-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,.7);
	z-index: 1000;
}

//Main window of the cookie
#popup {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	height: 361px;
	position: relative;
	margin: 5%;
	width: auto;
	@media only screen and (min-width: $break-m) {
		margin: 12% auto;
		width: 597px;
}
}

#cookie-text {
	background-color: white;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.2);
}

#popup h3 {
	text-align: left;
	padding-top: 16px;
	padding-left: 15px;
	text-transform: capitalize;
}

#popup h6 {
	color: #999aa2;
	text-align: left;
	padding-left: 15px;
	line-height: 1.8;

}

#popup input {
	margin: 6px 10px 20px;
	width: 95%;	
	@media only screen and (min-width: $break-m) {
		padding: 10px 62px;
		width: auto;
}
}

#accept-cookies-btn {
	background-color: #926FB1;
	color: white;
}
#accept-cookies-btn:hover {
	background-color: darken($color: $color-web-design, $amount: 10%);
}

#change-settings-btn {
	background-color: #999aa2;
}

#change-settings-btn:hover {
	background-color: darken($color: $color-button-gray, $amount: 10%);
}