//Added this div to make it easier get rid of the sidebar. Now user can click anywhere on the page and the sidenav will disappear
.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 260px;
  transition: .5s ease all;
  overflow-y: hidden;
  @media only screen and (min-width: $break-l) {
    right: 334px;
}
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: -333px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
  transition: .5s ease all;
}

.sidebar-container.shown {
  display: block;
}

.sidebar-container.slide-in {
  right: 0;
}

.sidebar-container-small {
  margin-bottom: -10px;
  margin-top: -9px;
}

.sidebar-content {
  width: 260px;
  text-transform: uppercase;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  max-height: 100vh;
  overflow-y: auto;
  transition: .2s ease all;
  @media only screen and (min-width: $break-l) {
    width: 334px;
}
}

.sidebar-heading{
  background-color: #333645;
  margin-left: -32px;
  padding-left: 15px;
  border-top: 1px solid hsla(0,0%,100%,.1);
  border-bottom: 1px solid rgba(0,0,0,.25);
  font-size: 1rem;
}

a.sidebar-heading{
  height: 60px;
  display: flex;
  align-items: center;
}

.sidebar-submenu {
  background-color: #262834;
  margin-left: -64px;
  display: flex;
  align-items: center;
  border-top: 1px solid hsla(0,0%,100%,.05);
  border-bottom: 1px solid rgba(0,0,0,.45);
  font-size: .875rem;
}

.sidebar-submenu::before {
  content: "\BB";
  padding: 15px;
  color: white;
}

ul {
  list-style: none;
}

#ul-sidebar {
  margin-bottom: 0;
}

.sidebar-li:hover {
  .sidebar-heading {
    background-color: lighten($color: #262834, $amount: 10);
}
    cursor: pointer;
}

.sidebar-content-small {
  //border: 2px red solid;
  display: block;
  @media only screen and (min-width: $break-l) {
    display: none;
}
}


.sidebar-nav-button {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  width: 85%;
  line-height: 23px;
  border-radius: 3px;
  outline: 1px solid rgba(0,0,0,.25);
  border: 1px solid hsla(0,0%,100%,.1);
}

.contact-us-sidenbar-btn {
  margin-top: 10px;
}

#sidebar-security {
  margin-bottom: 8px;
  padding-bottom: 25px;

}
.ul-sidebar {
  padding-left: 0;
  margin: 10px 0;
}

.ul-sidebar li {
  font-size: 1.125rem;
  padding: 10px 0 ;
  border-radius: 3px;
  background-color: #333645;
  text-align: center;
}

.ul-sidebar li:hover {
  .sidebar-nav-button {
    background-color: lighten($color: #262834, $amount: 10);
}
}
.sidebar-submenu-small li {
  background-color: #262834;
  border-radius: 3px;
  font-size: 1rem;
  width: 85%;
  height: 43px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-submenu-small li:not(:first-child)  {
  border-top: 1px solid rgba(0,0,0,.45);
}

//Had to add this code in order to have the borders the same as the main website. They are both added on top of the elements and one is on top of the main elements and then on top of the a element 
.sidebar-submenu-small li:not(:first-child) > a {
  border-top: 1px solid hsla(0,0%,100%,.05);
  padding-top: 9px;
  width: 100%;
  height: 43px;
}

.sidebar-submenu-small {
  padding-left: 0;
  padding-top: 20px;
}

body {
  position: relative;
  right: 0;
  transition: .5s ease all;
}

body.slide-in{
  right: 255px !important;
  @media only screen and (min-width: $break-m) {
    right: 242px;
}
  @media only screen and (min-width: $break-l) {
    right: 317px;
}
}
