//Variables
$color-button-blue: #4183d7;
$color-button-gray: #999aa2;
$color-icon: white;
$color-news-1: #7E57A0;
$color-news-2: #2A6EC6;
$color-news-3: #566C88;


$color-navbar: #333645;
$color-web-design: #926FB1;
$color-it: #4183D7;
$color-telecoms: #D64541;
$color-software: #67809F;
$color-digital-marketing: #2ECC71;
$color-cyber-security: #F62459;


//Breakpoints
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1260px;